<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tag -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
    {% block body %}

    {% endblock %}
</div>

<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename="js/bootstrap.bundle.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/popper.min.js") }}"></script>
<script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
</body>
</html>