{% block navbar %}
    <header class="p-3 text-bg-dark mb-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="bi me-2" width="40" height="32" role="img"
                         src="{{ url_for('static', filename='icon.jpg') }}" alt=""> </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    {% for (endpoint, lable) in [
                                       ('users.list', 'Users'),
                                       ('articles.list', 'Articles'),
                                       ('authors_app.list', 'Authors'),
                                     ] %}
                        <li>
                            <a class="nav-link px-2 text-{% if request.endpoint == endpoint %}secondary{% else %}white{% endif %}"
                               href="{{ url_for(endpoint) }}">{{ lable }}</a></li>
                    {% endfor %}
                </ul>
                <div class="text-end">
                    {% if current_user.is_authenticated %}
                        <button type="button" class="btn btn-warning"
                                onclick="document.location='{{ url_for("auth_app.logout") }}'">Logout
                            ({{ current_user.username }})
                        </button>
                    {% else %}
                        <button type="button" onclick="document.location='{{ url_for("auth_app.login") }}'"
                                class="btn btn-outline-light me-2">
                            Login
                        </button>
                        <button type="button" onclick="document.location='{{ url_for("auth_app.register") }}'"
                                class="btn btn-warning"><a>Sign-up</a>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
{% endblock %}
