{% extends 'base.html' %}
{% from "macro/formhelper.html" import render_field %}
{% block title %}
    Login
{% endblock %}
{% block body %}
<body class="text-center wotdisconnected='true'">
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
    <main class="form-signin w-25 m-auto position-absolute top-50 start-50 translate-middle ">
        <form method="POST">
            {# csrf protection #}
            {{ form.csrf_token() }}
            <img class="mb-4" src="{{ url_for('static', filename='icon.jpg') }}" width="72" height="57" alt="icon">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            {# show inputs #}
            {% for field in ['username', 'password'] %}
                {{ render_field(form[field]) }}
            {% endfor %}
            {# submit #}
            <div>
                {{ form.submit(class="w-100 btn btn-lg btn-primary mt-3") }}
            </div>
        </form>
    </main>
</body>
{% endblock %}